/* global styles */
body {
    background-color: #fff;
    color: #627382;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 120px;
}

.btn {
    background-color: #469165;
    color: #ffffff;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
}

.btn:hover {
    opacity: 0.8;
}

.btn-secondary {
    background-color: transparent;
    border-color: #fff;
}

/* Navbar Section */
nav {
    background-color: #fff;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 92px;
}

.main-nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.main-nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}

/* Banner Section */
header {
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0 134px 0;
}

.hdr {
    text-align: center;
    max-width: 770px;
}

.hdr h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 24px;
    text-transform: capitalize;
    color: #fff;
}

.hdr h1 b {
    display: block;
    color: #30B868;
}

.hdr p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn.access {
    background-color: #FFFFFF;
    color: #469165;
    border-radius: 16px;
    padding: 8px 16px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Notes Section */
.notes {
    padding: 80px 0;
    background-color: #FBFBFB;
}

h2.section-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #001931;
    margin-bottom: 10px;
}

p.section-subtitle {
    font-size: 16px;
    text-align: center;
    color: #627382;
    margin-bottom: 20px;
}


.notes-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 40px;
}

.note-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 32px 24px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.note-card span {
    display: flex;
    border-radius: 200px;
    background: #F95555;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.note-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.note-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}